body{
	background-color:#7f8c8d;
	font-family:sans-serif;
}
.central-body-container{
	width:500px;
	margin:auto;
/*	display:inline-block;*/
}
.green-topper{
	width:500px;
	height:200px;
	background-color: #2ecc71;
	/*margin:0px 460px;*/
	color:white;
}
.green-topper h2{
	position:relative;
	top:162px;
	left:10px;
	font-family:sans-serif;
}
.green-topper-bottom{
	width:500px;
	/*margin:0px 460px;*/
	height:5px;
	background-color: #27ae60;
}
.navbar{
	width:500px;
	height:35px;
/*	margin:0px 460px;*/
	background-color: #34495e;
	line-height:35px;
	border-bottom:4px solid #2c3e50;
}
.navbar-links{
	color:white;
	text-decoration: none;
	font-size:12px;
	font-family:sans-serif;
	margin:12px;
	position:relative;
	left:250px;
	bottom:2px;
}

.side-links{
	background-color:#ecf0f1;
	margin:0px;
	height:172px;
	width:160px; 
	display:inline-block;
	position:relative;
	bottom:2000px;
	left:510px;
	border-bottom:3px solid black;
	padding:5px 0px 20px 10px;
	font-size:12px;
	line-height:150%;
}
.side-links a {
	text-decoration: none;
	color:#7f8c8d;
	padding-left:10px;

}
.central-body{
	/*margin:0px 0px 0px 0px;*/
	background-color: #ecf0f1;
	width:500px;
	height:2000px;
	display:inline-block;
	text-align:initial;
}
.central-body h4{
	margin:20px 20px;
}
.central-body h5{
	margin:20px 20px;
	padding:5px 0px;
	border-bottom:1px solid grey;
}
.main-paragraphs{
	font-size:12px;
	margin:10px 35px;
	line-height:150%;
}
.red-text{
	color:#d35400;
}
.italicized{
	font-style: italic;
}
td, th{
	border:1px solid grey;
	padding:6px 10px;
}
th{
	background-color: #bdc3c7;
}
table {
	font-size:12px;
	margin:0px 18px;
	border-spacing: 0px;
	border-collapse:collapse;
}
[class *='table-button']{
	height:23px;
	line-height:25px;
	background-color:#3498db;
	text-align:center;
	margin:0px 2px;
}
[class *='table-button'] a{
	color:white;
	text-decoration: none;
	font-size:.9em;
}
.table-button1, .table-button2{
	width:60px;
}
.table-button3{
	width:68px;
}
.js-example{
	margin:auto;
	font-family:Courier;
	font-size:12px;
	height:82px;
	width:92%;
	background-color: #bdc3c7;
}
.js-example p{
	margin:0px 34px;
	padding:20px 0px;
}
.placeholder-image{
	margin:auto;
	text-align:center;
}
.main-paragraphs li{
	margin:0px 0px 10px -35px;
}
.timestamp {
	margin:40px 0px 40px 20px;
	color:#95a5a6;
	font-size:12px;
}
.central-body h3{
	margin:20px 20px;
}
.input-area div p{
	display:inline-block;
	line-height:initial;
	font-size:12px;
	margin:0px 0px 0px 50px;
	text-align:right;
	padding-top:8px;
}
.input-area input{
	float:right;
	width:66%;
	margin-right:35px;
	line-height:200%;
}
.input-area div{
	margin:-1px 0px;
}
.input1{
	padding-left:43px;
}
.input3 {
	padding-left:32px;
}
.comment-area {
	text-align:center;
}
.comment-area textarea{
	width:450px;
	height:124px;
}
.comment-lines {
	width:400px;
	background-color: grey
	border:1px solid grey;
}
.submit-button {
	width:450px;
	height:32px;
	background-color: #c0392b;
	text-align:center;
	line-height:;
	margin:25px;
	line-height:32px;
}
.submit-button a{
	color:white;
	text-decoration: none;
	font-size:11px;
}